<%include header%>
<div class="jumbotron mt-4">
    <h1 class="display-3">
      Hagamos novelas juntos!
    </h1>
    <p class="lead" style="color: orange;">Lleva a cabo todas las novelas y fantasias de tu imaginacion a la pagina donde podras ver las novelas de otros usuarios como tu y entretenerte con la imaginacion de todas las novelas de personas como tu, recuerda el cielo es el limite y nunca dejes de imaginar</p>
    <hr class="my-4">
    <p>"En nuestra barra de navegacion en el apartado de crear novela podras crear tu novela y podras mover a tu gusto el campo donde empezaras a escribir tu novela y podras consultarlas en la pestaña de ver novelas"</p>
    <p class="lead">
    </p>
  </div>
  <%include footer%>